

/*---------------------------------------*/
/*	---------- START SCREEN --------------  */
/*---------------------------------------*/

.startscreen{
	width: 100%;
	height: 1000px;
	max-height: 100vh;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background-color: rgb(20,20,20);
	background: linear-gradient(to bottom, rgb(20,20,20), #2e8ece);

}

.star{
	width: 2px;
	height: 2px;
	background-color: rgb(250,250,250);
	position: fixed;
	border-radius: 50%;
	transition: 0.1s linear;
}



#navigationBar{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	z-index: 4;
}




#navigationButtonWrapper{
	height: 80px;
	width: 700px;
	max-width: 80%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0 20px;
}

#navigationButtonWrapper > i{
	color: rgb(60,60,60);
	font-size: 6px;
}


#navigationButtonWrapper a{
	opacity: 0;
	text-decoration: none;
	position: relative;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
}

.navHeader{
	font-weight: 300;
	font-size: 17px;
	font-family: "Oswald";
	color: rgb(250,250,250);
	text-transform: uppercase;
}

.navbuttons > .expandingUnderline{
	border-bottom: 3px solid rgb(250,250,250);
	width: 0px;
	opacity: 0.1;
	transition: 0.3s ease;
}

.navbuttons:hover > .expandingUnderline{
	width: 100%;
	opacity: 1;
}

#message{
	position: absolute;
	top: 35%;
	transform: translateY(-50%);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

#message p{
	max-width: 80%;
	width: 600px;
	font-family: "Oswald";
	font-weight: 300;
	font-size: 25px;
	color: rgb(250,250,250);
	display: block;
	line-height: 40px;
}

#message p span{
	transition: 0.3s linear;
	transform: scale(1);
}

#eHolder{
	position: absolute;
	top: 30px;
	right: 30px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid rgb(250,250,250);
	background-color: rgb(250,250,250);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 10px 3px black;
}

#e{
	color: #2C3E50;
	font-weight: 200;
	font-family: "Roboto";
	font-size: 45px;
	transform: translateY(-2px);
}


#forestHolder{
	z-index: 3;
	position: absolute;
	bottom: 75px;
	height: auto;
	max-height: 350px;
	width: 100%;
	overflow: hidden;
}


#forest{
	position: center center;
	width: 110%;
	height: auto;
	z-index: 3;
}

#mountainHolder{
	transform: translate3d(0, 0, 0);
	position: absolute;
	bottom: 130px;
	left: -40%;
	height: auto;
	width: 135%;
	overflow: hidden;
	transition: 0.1s linear;
}


#mountain{
	position: center center;
	width: 100%;
	height: auto;
}

#mountainHolder2{
	transform: translate3d(0, 0, 0);
	position: absolute;
	bottom: 130px;
	right: -20%;
	height: auto;
	width: 90%;
	overflow: hidden;
	transition: 0.1s linear;
}


#mountain2{
	position: center center;
	width: 110%;
	height: auto;
}

#lowerBackground{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 100px;
	background-color: rgb(250,250,250);
}


#startImgHolder{
	position: absolute;
	top: 80px;
	bottom: 50px;
	left: 60px;
	right: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
	overflow: hidden;
	z-index: 3;
	box-shadow: 2px 2px 12px 2px rgb(20,20,20);
}

#startImg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
	background-color: rgb(40,40,40);
	background-image: url("../images/desk5dyed.jpeg");
	background-position: center center;
	background-size: cover; 
}

#startContent{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 4;
	backface-visibility: hidden; 
}

#scrollDown{
	border-radius: 50%;
	border: 2px solid transparent;
	width: 50px;
	height: 50px;
	font-size: 30px;
	position: absolute;
	bottom: 70px;
	left: 0;
	right: 0;
	margin: 0 auto 0 auto;
	z-index: 40;
	color: rgb(20,20,20);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(88px);
	transition: 0.2s linear;
}

#scrollDown > i {
	font-size: 35px;
}

#scrollDown:hover{
	border: 2px solid rgb(20,20,20);
}



#profileImg{
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	z-index: 4;
}



.startscreen h1{
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	font-family: 'abril Fatface';
	font-size: 40px;
	color: rgb(245,245,245);
}

