

/*---------------------------------------*/
/*	---------- START SCREEN --------------  */
/*---------------------------------------*/

.startscreen{
	width: 100%;
	height: 100vh;
	text-align: center;
	position: relative;
	overflow: hidden;
}



#startImg{
	position: fixed;
	top: 0%;
	width: 100%;
	height: 110vh;
	z-index: 0;
}


.startscreen .img-circle{
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	z-index: 2 !important;
	backface-visibility: hidden;
}


.startscreen h1{
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	font-family: 'abril Fatface';
	font-size: 40px;
	color: rgb(245,245,245);
	z-index: 2 !important;
	backface-visibility: hidden;
}

