

/*---------------------------------------*/
/*	---------- ABOUT --------------  */
/*---------------------------------------*/

.about{
	background-color: rgb(250,250,250);
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 3;
	padding-top: 100px;
}

#aboutWrapper{
	position: relative;
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
}


#resume{
	width: 130px;
	height: 55px;
	border-radius: 30px;
	border: 2px solid #34495E;
	text-decoration: none;
	transition: 0.05s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transform: scale(1);
	margin: 50px auto 120px auto;
}

#resume p{
	font-family: "Oswald";
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 3px;
	text-align: center;
	display: inline-block;
	text-decoration: uppercase;
	position: relative;
	z-index: 3;
	color: #34495E;
	display: block;
}

#resume:hover{
	background-color: #34495E;
	border-color: #34495E;
}

#resume:hover p{
	color: rgb(250,250,250);
}


#aboutMe{
	position: relative;
	opacity: 0;
	font-family: 'Oswald';
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 40px;
	color: rgb(20,20,20);
	padding: 0;
	margin-bottom: 40px;
}



#aboutText{
	padding: 0px 0 0px 0;
	max-width: 700px;
	margin: 0 auto;
	width: 80%;
	display: block;
	position: relative;
}



#aboutText p{
	margin: 20px;
	position: relative;
	display: inline-block;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	color: rgb(120,120,120);
	text-align: left;
}

#eduSep{
	width: 50px;
	height: 50px;
	transform: translateY(50%) rotateZ(45deg);
	background-color: rgb(250,250,250);
}

