

/*---------------------------------------*/
/*	---------- ABOUT --------------  */
/*---------------------------------------*/

.about{
	background-color: rgb(250,250,250);
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 3;
	border-bottom: 5px solid rgb(200,200,200);
	border-top: 5px solid rgb(200,200,200);
}


#aboutMe{
	opacity: 0;
	font-family: 'Abril Fatface';
	font-size: 40px;
	color: rgb(80,80,80);
	padding: 0;
	margin-top: 20px;
	margin-bottom: 40px;
}


#mac{
	z-index: -1;
	opacity: 0;
	position: absolute;
	bottom: 13%;
	right: 5%;
	width: 500px;
	height: auto;
}

#aboutSeparator{
	opacity: 0;
	display: block;
	max-width: 200px;
	min-width: 50px;
	width: 0;
	margin: 140px auto 0px 0;
	border-top: 5px solid rgb(160,160,160);
	box-shadow: 2px 2px 2px 1px rgb(190,190,190);
}

#aboutText{
	padding: 80px 0 20px 0;
	max-width: 800px;
	margin: 0 auto;
	width: 80%;
	display: block;
	position: relative;
}

#aboutText p{
	opacity: 0;
	display: inline-block;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	color: #552000;
	color: rgb(100,100,100);
}

#resume{
	opacity: 0;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 26px;
	text-align: center;
	padding: 80px 0 60px 0;
	display: inline-block;
	position: relative;
	transition: 0.2s linear;
	z-index: 3;
}


#resume a{
	color: #5A352D;
	color: rgb(80,80,80);
	text-decoration: none;
	transition: 0.2s linear;
}


#resume a > .expandingUnderline{
	border-color: #5A352D;
	border-color: rgb(160,160,160);
	border-width: 4px;
}


#resume a:hover > .expandingUnderline{
	width: 100%;
	transform: translateY(2px);
	opacity: 1;
}


#interests{
	position: relative;
	bottom: -45px;
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.interestHolder{
	opacity: 0;
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: rgb(245,245,245);
	/*box-shadow: 0px 4px 10px 2px rgb(160,160,160);*/
	border: 5px solid rgb(200,200,200);
}


#interests i{
	padding-top: 20px;
	color: #5A352D;
	color: rgb(80,80,80);
}

.fa-stack .inner{
	color: #ffdbaa;
}
