

/*---------------------------------------*/
/*	---------- EDUCATION --------------  */
/*---------------------------------------*/


.education{
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: rgb(40,40,40);
}


/*---------------------------------------*/
/*	---------- SUMMARY --------------  */
/*---------------------------------------*/

#eduSummaryWrapper{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgb(250,250,250);
	background-color: rgb(40,40,40);
}

.eduSummary{
	position: relative;
	display: block;
	width: 60%;
	max-width: 700px;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	z-index: 2;
	transition: linear;
	transform: translate3D(0,0,0);
	margin: 160px auto 120px auto;
}

.eduBorder{
	border-top: 5px solid rgb(40,40,40);
}

.eduSummary .eduBorder{
	margin: 30px auto 30px auto;
	border-top: 5px solid rgb(200,200,200);
	box-shadow: none;
	transform: scale(0);
	width: 70%;
}

.eduSummary h1{
	opacity: 0;
	font-family: 'Oswald';
	font-weight: 700;
	color: rgb(100,100,100);
	color: rgb(240,240,240);
	font-size: 40px;
}

.eduSummary p{
	opacity: 0;
	font-family: 'Roboto';
	font-weight: 300;
	padding-top: 10px;
	color: rgb(120,120,120);
	color: rgb(240,240,240);
}


/*---------------------------------------*/
/*	---------- PERISCOPE --------------  */
/*---------------------------------------*/

#eduPeriscopeWrapper{
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 2;
	background: linear-gradient(to bottom, transparent 50%, rgb(230,230,230) 0);
}

.schoolImg{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -100;
	background-image: url("../images/zurich1.jpeg");
	background-position: center center;
	background-size: cover;
}


.eduPeriscope{
	position: relative;
	margin: 0 auto;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 3;
	transition: 2s linear;	
	border: 7px solid rgb(230,230,230);
}

/*---------------------------------------*/
/*	---------- TIMELINE --------------  */
/*---------------------------------------*/


#eduTimelineWrapper{
	position: relative;
	width: 100%;
	background-color: rgb(230,230,230);
	padding-top: 100px;
	margin: 0;
	z-index: 2;
}

.eduTimeline{
	height: 100%;
	width: 100%;
	min-width: 340px;
	transition: linear;
	transform: translate3D(0,0,0);
	padding-bottom: 0px;
}

#eduTimelineWrapper .eduBorder{
	width: 0;
	border-color: rgb(60,60,60);
	margin: 0px 0 20px 0;
}


.eduTimeline h1{
	margin: 30px 0 140px 40px;
	opacity: 0;
	font-family: 'Oswald';
	font-weight: 700;
	color: rgb(60,60,60);
	font-size: 40px;
	text-align: left;
}

.time{
	opacity: 0;
	display: flex;
	align-items: center;
	margin-top: 60px;
	width: 700px;
	max-width: 80%;
}

.timeContent{
	width: 500px;
	max-width: 90%;
	text-align: left;
}

.timeContent h2{
	color: rgb(60,60,60);
}

.timeContent h3{
	color: rgb(100,100,100);
	font-size: 16px;
	margin-top: 5px;
}

.timeContent p{
	font-size: 16px;
	margin-top: 7px;
}

.period{
	width: 200px;
	text-align: right;
	font-family: "Roboto";
	font-size: 20px;
}



