

/*---------------------------------------*/
/*	---------- EXPERIENCE --------------  */
/*---------------------------------------*/

.experience{
	display: block;
	width: 100%;
	padding: 0;
	background-color: rgb(210,210,210);
	margin: 0 auto;
	position: relative;
	text-align: center;
	z-index: 3;
	border-top: 1px solid rgb(210,210,210);
	transform: translate3d(0,0,0);
	box-shadow: inset 0px 2px 6px 0px rgb(245, 245, 245), 0px 3px 5px 8px rgba(0,0,0,0.2);
	;

}
.expUpper{
	transform: translate3d(0,0,0);
	box-shadow: inset 0px -2px 4px 3px rgba(230,230,230, 0.7);
}
.expUpper > h1{
	padding: 50px 0 20px 0;
	font-family: 'Abril Fatface';
	font-weight: 700;
	font-size: 40px; 
	color: rgb(170,170,170);
}

#workWrapper{
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 40px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.flip3d{
	position: relative;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	transform: translate3D(0,0,0);
}



.flip3d > div{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.4s linear 0s;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 5px 10px 1px rgb(150,150,150);	
}



.flip3d > .workButton{
	transform: perspective(600px) rotateY(0deg);
	background-color: rgb(245,245,245);
}

.flip3d > .workButtonBack{
	background-color: rgb(140,140,140);
	transform: perspective(600px) rotateY(180deg);
}


.flip3d:hover > .workButton{
	transform: perspective(600px) rotateY(-180deg);
}

.flip3d:hover > .workButtonBack{
	transform: perspective(600px) rotateY(0deg);
}





/*mm-color: rgba(198,8,20,0.6)*/
/*onoff-color: rgba(26,168,46,0.6)*/
/*siba-color: rgba(189,0,4,0.6)*/
/*ericsson-color: rgba(26,33,79,0.6)*/



.flip3d p{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 150ms ease;
}

.flip3d em{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	text-decoration: none;
	color: rgb(200,200,200);
}

.workButton p{
	color: rgb(140,140,140);
}

.workButtonBack p{
	color: rgb(245,245,245);
}

#popDownWrapper{
	width: 100%;
	height: 0px;
	background-color: rgb(245,245,245);
	transition: 0.5s ease;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: inset 0px 2px 20px 4px rgba(120,120,120, 0.6);
	transform: translate3d(0,0,0);

}


.workplace {
	backface-visibility: hidden;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	margin-top: 40px;
	width: auto;
	max-width: 600px;
	padding: 20px;
	font-family: "Roboto";
	font-weight: 300;
	border-radius: 5px;
	background-clip: rgb(240,240,240);
	opacity: 0;
	box-shadow: 0px 4px 10px 1px rgb(160,160,160);
	transform: rotate(0deg) scale(1.0);
}

.workplaceHeader{
	width: 100%;
	padding: 10px 0 10px 0;
	background-color: rgb(230,230,230);
	box-shadow: 0px 4px 10px 1px rgb(160,160,160);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.popdown{
	animation-name: popdown;
	animation-duration: 1s;
}

.popup{
	animation-name: popup;
	animation-duration: 1s;
}

.popleft{
	animation-name: popleft;
	animation-duration: 1s;
}

.popright{
	animation-name: popright;
	animation-duration: 0.5s;
}

@keyframes popdown{
	0%   {display: none;opacity: 0;transform: translateY(-800px);}
	100%   {transform: translateY(0px); opacity: 1;}
}
@keyframes popright{
	0%   {opacity: 1;}
	100%   {transform: translateX(800px); opacity: 0;}
}
@keyframes popleft{
	0%   {opacity: 0;transform: translateX(-800px);}
	10%  {opacity: 1;}
	100%   {transform: translateY(0px); opacity: 1;}
}
@keyframes popup{
	0%   {opacity: 1;}
	100%   {transform: translateY(-800px); opacity: 1;}
}



.workplace p{
	font-size: 20px;
	line-height: 30px;
	color: rgb(140,140,140);
}


.timeLine{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(235,235,235);
	box-shadow: 0px 4px 10px 1px rgb(160,160,160);
	font-weight: 300;
	border-radius: 50%;
	font-size: 22px;
	width: 80px;
	height: 80px;
	color: rgb(120,120,120);
	transition: 0.5s linear;
}

.timeLineFrom{
	left: 20px;
}


.timeLineTo{
	right: 20px;
}

.position{
	display: block;
	padding: 10px 0 10px 0;
	color: rgb(50,50,50);
	font-size: 24px;
	font-weight: 300;
}




.workplace img{
	max-width: 300px;
	width: 80%;
}


