

/*---------------------------------------*/
/*	---------- EXPERIENCE --------------  */
/*---------------------------------------*/

.experience{
	width: 100%;
	background-color: white;
	position: relative;
	text-align: center;
	transform: translate3d(0,0,0);
	z-index: 4;
	padding-top: 50px;
}

.expUpper > h1{
	padding: 0px 0 0px 0;
	font-size: 42px;
	color: black;
	max-width: 80%;
	transform: translateY(20px);
	transition: color 150ms linear;
	font-family: "Playfair Display";
	font-weight: 400;
	letter-spacing: -1px;
}

#workWrapper{
	margin: 0 auto;
	text-align: center;
	padding: 0px 0 0px 0;
	width: 100%;
	max-width: 1400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translate3d(0,0,0);
	transform: translateY(50%);
}


.flip3d{
	position: relative;
	margin: 0 auto;
	transform: translate3D(0,0,0);
}

.flip3d p{
	line-height: 26px;
	margin-bottom: 5px;
}



.flip3d > div{
	position: absolute;
	border-radius: 50%;
	transition: 0.4s linear 0s;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.bigButton{
	width: 200px;
	height: 200px;
	cursor: pointer;
	opacity: 0;
}


.bigButton > .workButton{
	transform: perspective(600px) rotateY(0deg);
	background-color: white;
}

.bigButton > .workButtonBack{
	background-color: black;
	transform: perspective(600px) rotateY(180deg);
}


.bigButton:hover > .workButton{
	transform: perspective(600px) rotateY(-180deg);
}

.bigButton:hover > .workButtonBack{
	transform: perspective(600px) rotateY(0deg);
}

.bigButton:hover > div{
	border-color: white;
}



.bigButton p{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 150ms ease;
}

.bigButton em{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 18px;
	text-decoration: none;
	color: rgb(200,200,200);
}

.flip3d .workButton p{
	color: black;
}

.flip3d .workButtonBack p{
	color: white;
}

#popDownWrapper{
	width: 100%;
	height: 0px;
	transition: 0.5s ease;
	margin: 0 auto;
	overflow: hidden;
	transform: translate3d(0,0,0);
	z-index: 2;
	background: white;
}



.workplace {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	top: 58%;
	transform: translateY(-50%);
	max-width: 600px;
	border-radius: 2px;
	opacity: 0;
	background-color: white;
	border: 1px solid black;
}

.workplaceHeader{
	width: 100%;
	padding: 0px 0 0px 0;
	min-height: 120px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}



.workplace > p{
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: rgb(100,100,100);
	text-align: left;
	margin: 20px 40px;
}



.smallButton{
	width: 80px;
	height: 80px;
	cursor: default;
}


.smallButton > .workButton{
	transform: perspective(600px) rotateY(0deg);
	background-color: white;

}

.smallButton > .workButtonBack{
	background-color: black;
	transform: perspective(600px) rotateY(180deg);
}


.smallButton:hover > .workButton{
	transform: perspective(600px) rotateY(-180deg);
}

.smallButton:hover > .workButtonBack{
	transform: perspective(600px) rotateY(0deg);
}

.smallButton p{
	font-size: 18px;
	font-family: "Raleway";
	font-weight: 300;
	text-align: center;
	color: white;
	margin: auto;
}

.smallButton .workButton p{
	color: black;
}

.imgPosition{
	margin: auto;
	width: 300px;
}

.imgPosition > img{
	display: block;
	margin: auto auto 10px auto;
	width: 220px;
}

.imgPosition > p{
	display: block;
	width: 100%;
	text-align: center;
	margin: 10px auto auto auto;
	color: rgb(50,50,50);
	font-size: 24px;
	font-weight: 300;
	color: black;
}

.siba img{
	width: 160px;
	margin-bottom: 0px;
}
.siba .imgPosition > p{
	margin-top: 0px;
}

.contextvision img{
	width: 160px;
	padding: 15px 0px 5px 0px;
}

.contextvision .imgPosition > p{
	padding-bottom: 10px;
}


