

/*---------------------------------------*/
/*	---------- Personal Projects -------  */
/*---------------------------------------*/



.projects{
	background-color: rgb(40,40,40);
	background: url("../images/desk-edited.jpeg") center center;
	background-size: cover;
	border-bottom: 3px solid rgb(80,80,80);
	z-index: 3;
	width: 100%;
	padding: 0;
	display: block;
	position: relative;
	transform: translate3d(0,0,0);
	text-align: center;
	overflow: hidden;
	transition: 0.2s linear;
	padding-top: 100px;
	transform: translate3d(0,0,0);
}

#projectFilter{
	position: absolute;
	top: 0;
	width: 100%;
	height: 140%;
	background-color: rgba(0,0,0,0.7);
	background-color: rgba(34, 49, 63,0.7);
/*	background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.6));
*/}

#projWrapper{
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 1400px;
}

#projectHeader{
	opacity: 0;
	position: relative;
	margin: 0 auto;
	top: 50px;
	display: block;
	color: white;
	font-family: 'Oswald';
	font-weight: 700;
	font-size: 40px;
	z-index: 4;
	margin-top: 20px;
	margin-bottom: 0px;
}


.slideDiv{
	position: absolute;
	left: 20px;
	top: 55%;
	transform: translateY(-50%);
	width: 50%;
	opacity: 0;
	z-index: -1;
	overflow: hidden;
	transition: opacity 1s linear;
	pointer-events : none;
}


.slideDir{
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	text-decoration: none;
	border: 2px solid rgb(250,250,250);
	top: 50%;
	z-index: 5;
	transform: translater3d(0,0,0) scale(1) translateY(-50%);
	transition: 0.2s linear;
}

#slideLeft{
	left: 20px;
}

#slideRight{
	right: 20px;
}

.slideDir i{
	color: rgb(250,250,250);
	font-size: 30px;
}

#slideLeft i{
	transform: translateX(-1px) translateY(-1px);
}

#slideRight i{
	transform: translateX(1px) translateY(-1px);
}

.slideDir:hover{
	background-color: rgb(250,250,250);
}


#slideLeft:hover i{
	color: rgb(80,80,80);
}

#slideRight:hover{
	transform: rotateZ(90deg);
}

#slideRight:hover i{
	color: rgb(80,80,80);
}


.info{
	text-align: left;
	color: rgb(250,250,250);
	width: 100%;
	display: inline-block;
}


.info a{
	display: inline-block;
	margin-bottom: 40px;
	text-decoration: none;
}

.info a p{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 28px;
	color: rgb(250,250,250);
}

.info a p:hover{
	color: rgb(160,160,160);
}



.info em{
	font-style: bold;
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
}

.info p{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
}

.info a{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	color: white;
	pointer-events : auto;
}

.projSeparatorLeft{
	display: block;
	max-width: 200px;
	min-width: 50px;
	width: 30%;
	border-bottom: 5px solid rgb(250,250,250);
	margin: 50px auto 50px 0;
}


.info ul{
	padding-left: 20px;
}

.info ul > li{
	margin-bottom: 5px;
}

.toolList{
	padding-top: 30px;
}

#div4{
	display: block
}


#projImages{
	position: absolute;
	bottom: -70px;
	right: 20px;
	display: block;
	width: 60%;
	height: auto;
	opacity: 0;
}

#projImages a{
	transition: 0.3s linear;
}

#projImages a img{
	width: 100%;
	height: auto;
}

/*#projImages a:hover{
	transform: translateY(-30px);
}*/

.prototype{
	position: absolute;
}

#ethcircle{
	bottom: 25px;
	right: 170px;
	width: 15%;
	height: auto;
	z-index: 4;
}

#mapapp{
	position: absolute;
	bottom: 32px;
	right: 60px;
	width: 15%;
	height: auto;
	z-index: 5;
}

#site{
	position: absolute;
	bottom: 20px;
	right: 0px;
	width: 80%;
	height: auto;
	z-index: 1;

}

#moodi{
	position: absolute;
	bottom: 40px;
	right: 20px;
	width: 87%;
	height: auto;
	z-index: 2;
	max-width: 800px;
	border-radius: 7px;
	overflow: hidden;
}

#site img{
	border-radius: 7px;
}

#sonus{
	position: absolute;
	bottom: 50px;
	right: 40px;
	width: 70%;
	height: auto;
	max-width: 600px;
	z-index: 3;

}

#sonus img{
	border-radius: 5px;
}
