

/*---------------------------------------*/
/*	---------- FOOTER --------------  */
/*---------------------------------------*/

footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 400px;
	z-index: 1;
	background-color: rgb(250,250,250);
	text-align: center;
	display: none;
	backface-visibility: hidden;
}


#mailWrapper{
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 3px;
	background-color: rgb(250,250,250);
	transform: translateX(-50%) translateY(-50%);
	padding-bottom: 10px;
}

#mail{
	font-family: "Raleway";
	font-weight: 300;
	font-size: 70px;
	color: rgb(250,250,250);
	letter-spacing: 3px;
	text-decoration: none;
	transition: 150ms linear;
	text-shadow: -1px 0 rgb(160,160,160), 0 1px rgb(160,160,160), 1px 0 rgb(160,160,160), 0 -1px rgb(160,160,160);
}

#contactWrap{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 200px;
	clear: both;
}

.socMedia{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(250,250,250);
	border: 2px solid rgb(160,160,160);
	transition: 0.12s linear;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 2px;
	float: left;
}



.socMedia i{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: rgb(160,160,160);
	transition: color 80ms linear;
	width: 100%;
	height: 100%;
	font-size: 20px;
	margin: 0 auto;
}

#github:hover{
	border-color: rgb(60, 60, 60);
	background-color: rgb(60,60,60);
}

#github:hover > i{
	color: rgb(250,250,250);
}
#linkedin:hover{
	background-color: #007bb6;
	border-color: #007bb6;
}
#linkedin:hover > i{
	color: rgb(250,250,250);
}
#twitter:hover{
	background-color: #00aced;
	border-color: #00aced;
}
#twitter:hover > i{
	color: rgb(250,250,250);
}
#facebook:hover{
	background-color: #3b5998;
	border-color: #3b5998;
}
#facebook:hover > i{
	color: rgb(250,250,250);
}


#mailBorder1, #mailBorder2{
	position: absolute;
	left: 50%;
	border: 2px solid rgb(160,160,160);
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 2px;
	background-color: rgb(200,200,200);
}

#mailBorder1{
	top: -30px;
}
#mailBorder2{
	bottom: -30px;
}

.bulb{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid rgb(160,160,160);
	background-color: rgb(250,250,250);
	box-shadow: none;
	transition: 0.15s linear;
	overflow: hidden;
}

.bulbShine{
	position: absolute;
	left: 50%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 0.15s linear;
	border: 2px solid transparent;
	box-shadow: none;
}

#mailBorder1 .bulb{
	bottom: -20px;
}

#mailBorder1 .bulb .bulbShine{
	top: 40%;
	transform: translateX(-50%) translateY(-50%);
}

#mailBorder2 .bulb{
	top: -20px;
}

#mailBorder2 .bulb .bulbShine{
	bottom: 40%;
	transform: translateX(-50%) translateY(50%);
}


#envelopeAndLine{
	position: absolute;
	left: 50%;
	bottom: 35px;
	height: 300px;
	transform: translateX(-50%);
}

#envelope{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(250,250,250);
	z-index: 1;
	border: 2px solid rgb(160,160,160);
	transition: 0.1s linear;
	text-decoration: none;
}

#envelopeAndLine i{
	color: rgb(160,160,160);
	font-size: 40px;
	transition: 0.1s linear;
}

#contactLine{
	position: absolute;
	border-left: 2px solid rgb(160,160,160);
	left: 50%;
	bottom: 0px;
	transform: translateX(-50%);
	height: 300px;
}

#socSquare{
	border: 2px solid rgb(160,160,160);
	width: 143px;
	height: 60px;
	background-color: rgb(250,250,250);
	position: absolute;
	border-radius: 3px;
	top: -10px;
	left: 96px;
	transform: translateX(-50%);
	z-index: -1;
}

#socLeftLine, #socRightLine{
	position: absolute;
	bottom: 0;
	border-left: 2px solid rgb(160,160,160);
	height: 30px;
	transform: translateX(-50%);
}

#socLeftLine{
	left: 33%;
}

#socRightLine{
	left: 67%;
}

#copyright{
	position: absolute;
	left: 15px;
	bottom: 10px;
	color: rgb(230,230,230);
	font-size: 18px;
	text-align: left;
	width: 300px;
	height: 25px;
	z-index: -2;
}



