

/*---------------------------------------*/
/*	---------- FOOTER --------------  */
/*---------------------------------------*/

footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 2;
	background-color: rgb(245,245,245);
	text-align: center;
	display: none;
	backface-visibility: hidden;
}


#contact h1{
	width: 80%;
	display: block;
	padding-top: 50px;
	font-family: "Abril Fatface";
	font-size: 40px;
	color: rgb(160,160,160);
}

#mail{
	margin: 0 auto;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 70px;
	color: rgb(170,170,170);
	text-decoration: none;
	transition: 150ms linear;
}

#mail:hover{
	color: rgb(80,80,80);
}

#contactSeparator{
	opacity: 0;
	display: block;
	width: 0;
	border-bottom: 5px solid rgb(100,100,100);
	margin: 70px auto 50px auto;
}



#contactWrap{
	width: 80%;
	max-width: 900px;
	padding: 60px 0px 0px 0px;
	display: flex;
	text-align: center;
	position: relative;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}

#infoWrap{
	margin: 0 auto;
	padding: 0 20px 0 20px;
	position: relative;
	text-align: center;
	order: 3;
	-webkit-order:3;
}



#contactText{
	display: inline-block;
	font-family: 'Roboto';
	font-size: 18px;
	color: rgb(160,160,160);
	text-align: center;
	background: rgb(250,250,250);
	padding: 10px 20px 18px 20px;
	border-radius: 2px;
	box-shadow: 0px 4px 10px 1px rgb(180,180,180);
	transition: 80ms linear;
}

#contactText p{
	margin-top: 10px;
}

#contactText:hover{
	transform: scale(1.1);
	background-color: rgb(250,250,250);
	box-shadow: 0px 4px 10px 1px rgb(160,160,160);
	color: rgb(100,100,100);
}



.socMedia{
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: rgb(250,250,250);
	box-shadow: 0px 4px 10px 1px rgb(180,180,180);
	transition: 0.12s linear;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}



.socMedia i{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: rgb(160,160,160);
	transition: color 80ms linear;
	width: 100%;
	height: 100%;
	font-size: 52px;
	margin: 0 auto;
}




#github{
	order: 1;
}
#linked{
	order: 2;
}
#twitter{
	order: 4;
}
#facebook{
	order: 5;
}

.socMedia:hover{
	transform: scale(1.2);
	background-color: rgb(250,250,250);
	box-shadow: 0px 4px 10px 1px rgb(160,160,160);
}



#github:hover > i{
	color: rgb(60, 60, 60);
}

#linkedin:hover > i{
	color:#007bb6;
}

#twitter:hover > i{
	color: #00aced;
}

#facebook:hover > i{
	color: #3b5998;
}


#copyright{
	padding: 60px 0 20px 0;
	color: rgb(220,220,220);
	font-size: 18px;
}



