
body,html{
	font-family: 'Roboto';
	font-weight: 300;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

section{
	z-index: 2;
	backface-visibility: hidden;
}

h1{
	font-style: normal;
}

*{
	margin: 0 auto;
	padding: 0;
}

p{
	line-height: 28px;
}

div{
	backface-visibility: hidden;
}

::selection {
	background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #ffb7b7;/* Gecko Browsers */
} 
/*---------------------------------------*/
/*	---------- NON SELECTABLE -----------*/
/*---------------------------------------*/

#profileImg, #interests, .workButtons, .imageDiv, .socMedia, #resume, h1, #navbar, #mobileNav, a, #startImg, #schoolImg{
	user-select: none;
}



.scrollToTop{
	position: fixed;
	right: 50px;
	bottom: -50px;
	cursor: pointer;
	z-index: 6;
	text-decoration: none;
	border-radius: 2px;
	color: rgb(245,245,245);
	background-color: rgba(0,0,0,0.6);
	width: 50px;
	height: 48px;
	overflow: hidden;
	transition: transform 0.5s linear, width 0.15s linear;
}

.contentHolder{
	position: absolute;
	right: 0; 
	left: auto;
	top: 30%;
	width: 110px;
	height: 50px;
	display: flex;
	align-items: center;
	transform: translateY(-1px);
}
.scrollToTop i{
	padding: 0;
	margin: 0;
	width: 50px;
	height: 50px;
	font-size: 45px;
	transform: translateY(-15px) translateX(10px);
	transition: transform 0.5s linear;
}


.scrollToTop h1{
	height: 50px;
	margin-right: 0px;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 25px;
	text-decoration: none;
	transform: translateY(-2px);
	padding: 0;
	color: rgb(245,245,245);
}

.scrollToTop:hover{
	width: 110px;	
}




/*---------------------------------------*/
/*	---------- NAVIGATION BAR -----------*/
/*---------------------------------------*/


/*DESKTOP NAVIGATION*/


#navbar{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	width: 100%;
	z-index: 50;
	background-color: rgba(0,0,0,0.6);
	transition: 0.6s ease;
	transform: translate3D(0,0,0);

}

#navWrapper{
	width: 90%;
	max-width: 900px;
	height: 75px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#navWrapper a{
	height: 100%;
	transition: 0.3s ease;
	padding: 0 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	flex-direction: column;
}



#navWrapper a > p{
	font-family: 'Roboto';
	font-weight: 300;
	text-transform: uppercase;
	color: rgb(245,245,245);
	font-size: 18px;
}


#navWrapper a:hover > .expandingUnderline{
	width: 100%;
	opacity: 1;
	transform: translateY(2px);
}

.expandingUnderline{
	transform: translateY(12px);
	border-bottom: 3px solid rgb(245,245,245);
	width: 0px;
	opacity: 0.1;
	transition: 250ms ease;
}

/*MOBILE NAVIGATION*/

#mobileNav{
	position: fixed;
	top: 0%;
	width: 100%;
	display: none;
	z-index: 100;
	margin: 0 auto;

}

.upperMNavList{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0.6);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#headerName, .showNav{
	padding: 0;
	margin: 0;
	display: block;
	color: rgb(245,245,245);
	text-decoration: none;
}

#headerName{
	padding-left: 15px;
	font-family: "Abril Fatface";
}
#headerName i{
	font-size: 35px;
}

.showNav{
	padding-right: 15px;
	cursor: pointer;
}
.showNav i{
	font-size: 35px;
	color: rgb(245,245,245);
}


.lowerMNavList{
	padding: 0;
	margin: 0 auto;
	display: none;
	width: 100%;
	z-index: 45;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding-bottom: 20px;
	flex-direction: column;
}

.mobilenavbuttons{
	font-family: 'Roboto';
	font-weight: 300;
	display: block;
	margin: 0 auto;
	color: rgb(245,245,245);
	text-decoration: none;
	font-size: 18px;
	padding: 20px 0 0 0;
}




/*---------------------------------------*/
/*	---------- MOBILE --------------  */
/*---------------------------------------*/





@media screen and (max-width: 925px){
	#mobileNav{
		display: block;
	}

	#navbar{
		display: none;
	}

	#workWrapper{
		width: 100%;
	}

	.flip3d, .flip3d > .workButton, .flip3d > .workButtonBack{
		width: 150px;
		height: 150px;
		font-size: 30px;
	}

	.flip3d h1{
		font-size: 18px;
		padding: 0;
		margin: 0;
	}
	.flip3d em{
		font-size: 16px;		
		padding: 0;
		margin: 0;
	}


	.educationContainer, .projWrapper{
		flex-direction: column;
		width: 90%;
	}

	.projSeparatorRight{
		display: block;
	}


	.educationContainer .eduSummary, .info, .imageDiv, .educationContainer .eduTimeline{
		margin: 0 auto;
		width: 100%;
	}

	.educationContainer .eduTimeline, .imageDiv{
		margin-top: 20px;
	}


	#mail{
		font-size: 60px;
	}


}



@media screen and (max-width: 768px){

	.educationContainer .eduSummary, .educationContainer .eduTimeline{
		transform: none;
	}

	#mail{
		font-size: 50px;
	}

	.socMedia{
		width: 60px;
		height: 60px;
	}

	.socMedia i{
		padding-top: 11px;
		font-size: 40px;
	}


}

@media screen and (max-width: 668px){

	#eduBackgroundDesc{
		display: none;
	}

	#profileImg{
		width: 180px;
		height: 180px;
	}

	.startscreen h1{
		font-size: 30px;
	}


	#contactWrap{
		display: block;
		text-align: center;
	}

	.smallButton{
		display: none;
	}

	#workWrapper{
		flex-direction: column;
		justify-content: center;
	}
	.flip3d{
		margin-top: 10px;
		width: 60%;
		height: 90px;
	}

	.flip3d > .workButton, .flip3d > .workButtonBack{
		width: 100%;
		height: 90px;
		border-radius: 2px;
	}

	.flip3d > .workButton{
		transform: perspective(600px) rotateX(0deg);	
	}

	.flip3d > .workButtonBack{
		transform: perspective(600px) rotateX(180deg);
	}

	.flip3d:hover > .workButton{
		transform: perspective(600px) rotateX(-180deg);
	}

	.flip3d:hover > .workButtonBack{
		transform: perspective(600px) rotateX(0deg);
	}

	#contactWrap a{
		display: inline-block;
	}
	#infoWrap{
		margin: 10px 0px 30px 0px;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	#basketball{
		display: none;
	}

	.workplace{
		width: 80%;
	}


	.education .eduSummary, .education .eduTimeline{
		width: 100%;
	}

	#mail{
		font-size: 40px;
	}

	.scrollToTop{
		display: none;
	}

	#contact{                
		display: block;
		z-index: 3;
		position: relative;
		bottom: 0;
	}

	.socMedia{
		width: 40px;
		height: 40px;
		border-radius: 2px;
		margin: 0 3px 0 3px;
	}

	.socMedia i{
		font-size: 24px;
		padding-top: 8px;
	}

	#contactSeparator{
		margin: 40px auto 40px auto;
	}

	#contact h2{
		padding-top: 30px;
	}

}


@media screen and (max-width: 568px){

	.startscreen h1{
		font-size: 24px;
	}

	#profileImg{
		width: 130px;
		height: 130px;
	}

	.experience{
		padding-top: 30px;
	}

	.mobileNavListWrapper{
		top: 70px;
	}

	#headerName{
		font-size: 25px;
	}

	#mail{
		font-size: 26px;
		font-weight: 300;
	}

}












