
body,html{
	font-family: 'Roboto';
	font-weight: 300;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

body{
	overflow: hidden;
}

section{
	z-index: 2;
	backface-visibility: hidden;
}

h1{
	font-style: normal;
}

*{
	margin: 0 auto;
	padding: 0;
}

p{
	line-height: 32px;
}

div{
	backface-visibility: hidden;
}

::selection {
	background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #ffb7b7;/* Gecko Browsers */
} 

.container{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 1600px;
}


/*---------------------------------------*/
/*	---------- CSS ANIMATIONS -----------*/
/*---------------------------------------*/

.spinAppearance{
	animation-name: spin;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes spin{
	0%   	{opacity: 0;transform: rotateY(-90deg) translateY(100px);}
	100%   	{opacity: 1; transform: rotateY(0deg) translateY(0);}
}

.appearFromBottom{
	animation-name: appearFromBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromBottom{
	0%   	{opacity: 0; transform: translateY(100px);}
	100%   	{opacity: 1; transform: translateY(0px);}
}


.appearFromTop{
	animation-name: appearFromTop;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromTop{
	0%   	{opacity: 0; transform: translateY(-100px);}
	100%   	{opacity: 1; transform: translateY(0px);}
}

.expandFromBottom30{
	animation-name: expandFromBottom30;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes expandFromBottom30{
	0%   	{opacity: 0; width: 0; transform: translateY(100px);}
	100%   	{opacity: 1; width: 30%; transform: translateY(0px);}
}

.expandFromBottom20{
	animation-name: expandFromBottom20;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes expandFromBottom20{
	0%   	{opacity: 0; width: 0; transform: translateY(100px);}
	100%   	{opacity: 1; width: 20%; transform: translateY(0px);}
}


.slideDown{
	animation-name: popdown;
	animation-duration: 1s;
}

@keyframes popdown{
	0%   {display: none;opacity: 0;transform: translateY(-800px);}
	100%   {transform: translateY(0px); opacity: 1;}
}

.slideUp{
	animation-name: popup;
	animation-duration: 1s;
}

@keyframes popup{
	0%   {opacity: 1;}
	100%   {transform: translateY(-800px); opacity: 1;}
}

.slideInFromLeft{
	animation-name: popInLeft;
	animation-duration: 1s;
}

@keyframes popInLeft{
	0%   {opacity: 0;transform: translateX(-800px);}
	80%  {opacity: 1;}
	100%   {transform: translateY(0px); opacity: 1;}
}


.slideInFromBottom{
	animation-name: popInBottom;
	animation-duration: 1s;
}

@keyframes popInBottom{
	0%   {opacity: 0;transform: translateY(800px); z-index: -1;}
	10%  {opacity: 1;}
	100%   {transform: translateY(0px); opacity: 1;z-index: 3;}
}


.slideOutRight{
	animation-name: popOutRight;
	animation-duration: 0.5s;
}


@keyframes popOutRight{
	0%   {opacity: 1;}
	100%   {transform: translateX(800px); opacity: 0;}
}

.slideOutBottom{
	animation-name: popOutBottom;
	animation-duration: 0.5s;
}


@keyframes popOutBottom{
	0%   {opacity: 1;}
	50%		{opacity: 0.7;}
	100%   {transform: translateY(800px); opacity: 0;}
}

.slideOutLeft{
	animation-name: popOutLeft;
	animation-duration: 0.5s;
}


@keyframes popOutLeft{
	0%   {opacity: 1;}
	100%   {transform: translateX(-800px); opacity: 0;}
}

.slideDownBig0{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes popdownBig{
	0%   {opacity: 1;transform: translateY(-400px);}
	100%   {transform: translateY(0px); opacity: 1;}
}

.slideDownBig1{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
.slideDownBig2{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}
.slideDownBig3{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}


.expand20{
	animation-name: expand20;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand20{
	0%   {width: 0;}
	100%   {width: 18%;}
}

.expand30{
	animation-name: expand30;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand30{
	0%   {width: 0;}
	100%   {width: 30%;}
}

.growToFull{
	animation-name: growToFull;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes growToFull{
	0%   {transform: scale(0);}
	100%   {transform: scale(1);}
}


.expand70{
	animation-name: expand70;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand70{
	0%   {width: 0;}
	100%   {width: 70%;}
}

.appearFromLeft{
	animation-name: appearFromLeft;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromLeft{
	0%   {opacity: 0.8; transform: translateX(-200px);}
	100%   {opacity: 1; transform: translateX(0);}
}

.appearFromRight{
	animation-name: appearFromRight;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromRight{
	0%   {opacity: 0.8; transform: translateX(200px);}
	100%   {opacity: 1; transform: translateX(0);}
}

.appearFromLeft1{
	animation-name: appearFromLeft;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

.appearFromRight1{
	animation-name: appearFromRight;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

.appearFromLeftInBackground{
	animation-name: appearFromLeftInBackground;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromLeftInBackground{
	0%   {opacity: 0; transform: translateX(-200px);}
	100%   {opacity: 0.4; transform: translateX(0);}
}

.appearFromRightInBackground{
	animation-name: appearFromRightInBackground;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromRightInBackground{
	0%   {opacity: 0; transform: translateX(200px);}
	100%   {opacity: 0.3; transform: translateX(0);}
}

.fadeInFromLeft{
	animation-name: fadeInFromLeft;
	animation-duration: 1.4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft{
	0%   {opacity: 0; transform: translateX(-20px);}
	100%   {opacity: 1; transform: translateX(0);}
}




/*---------------------------------------*/
/*	---------- NON SELECTABLE -----------*/
/*---------------------------------------*/

#profileImg, #interests, .workButtons, .socMedia, #resume, h1, #startName, #mobileNav, a, #startImg, #schoolImg, #name{
	user-select: none;
}

/*---------------------------------------*/
/*	------- SCROLL TO TOP POP-UP --------*/
/*---------------------------------------*/

.scroll{
	position: fixed;
	bottom: -60px;
	cursor: pointer;
	z-index: 6;
	text-decoration: none;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid rgb(70,70,70);
	color: rgb(70,70,70);
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.2s linear, transform 0.4s linear, width 0.4s linear, border-radius 0.1s linear, width 0.3s linear;
	clear: both;
}

.scrollToTop{
	right: 40px;

}

.scrollToNext{
	right: 20px;
}


.contentHolder{
	width: 115px;
	height: 100%;
	clear:both;
	float: right;
}

.scrollToNext .contentHolder{
	width: 110px;
}

.scrollIcon{
	width: 45px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
}

.scrollIcon i{
	padding: 0;
	align-self: center;
	font-size: 30px;
	margin: 0 auto;
	transform: translateY(-4px);
}

.scrollToNext .scrollIcon i{
	transform: translateY(0px);
}

.scrollText{
	height: 100%;
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
}


.scrollText h1{
	margin-right: 0px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 25px;
	text-decoration: none;
	padding: 0;
	color: rgb(40,40,40);
}

.scrollToTop:hover{
	width: 100px;
	border-radius: 3px;
	background-color: rgb(70,70,70);
}

.scrollToTop:hover i{
	color: rgb(250,250,250);
}

.scrollToTop:hover .scrollText h1{
	color: rgb(250,250,250);
}



/*---------------------------------------*/
/*	---------- NAVIGATION BAR -----------*/
/*---------------------------------------*/


/*DESKTOP NAVIGATION*/


#navbar{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	width: 100%;
	z-index: 50;
	background-color: rgb(250,250,250);
	transition: 0.6s ease;
	transform: translate3D(0,0,0);
	border-bottom: 4px solid rgb(200,200,200);
}

#name{
	position: fixed;
	top: 0;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
	background-color: rgb(80,80,80);
	border-radius: 0 0 1px 1px;
	transform: translateY(-100px);
	transition: 0.2s linear;
	border: 2px solid rgb(100,100,100);
	text-decoration: none;
}

#name p{
	font-family: "Roboto";
	padding: 0 20px 0 20px;
	font-weight: 200;
	font-size: 30px;
	color: rgb(200,200,200);
	transform: translateY(50px);
}



#navWrapper{
	opacity: 0;
	width: 70%;
	max-width: 800px;
	height: 70px;
	margin: 0  10px 0 auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#navWrapper a{
	height: 100%;
	transition: 0.3s ease;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateY(4px);
}



#navWrapper a > p{
	font-family: 'Roboto';
	font-weight: 300;
	text-transform: uppercase;
	color: rgb(100,100,100);
	transition: 0.4s linear;
	font-size: 19px;
}

#navWrapper a:hover > p{
	color: rgb(60,60,60);
}

#navWrapper a:hover > .expandingUnderline{
	width: 100%;
	opacity: 1;
}

.expandingUnderline{
	border-bottom: 3px solid rgb(100,100,100);
	width: 0px;
	opacity: 0.1;
	transition: 0.3s ease;
}



/*---------------------------------------*/
/*	---------- MOBILE --------------  */
/*---------------------------------------*/

@media screen and (min-width: 1600px){
	#slideLeft{
		left: 60px;
	}

	#slideRight{
		right: 60px;
	}

	#navigationButtonWrapper{
		height: 100px;
	}

	#startImgHolder{
		top: 100px;
	}

	.navHeader{
		font-size: 18px;
	}

}

@media screen and (max-width: 1200px){
	#slideLeft{
		left: 40px;
	}

	#slideRight{
		right: 40px;
	}
}



@media screen and (max-width: 925px){



	#workWrapper{
		width: 100%;
	}

	.bigButton, .bigButton > .workButton, .bigButton > .workButtonBack{
		width: 150px;
		height: 150px;
	}

	.bigButton p{
		font-size: 18px;
	}

	.bigButton em{
		font-size: 14px;
	}

	.expUpper{
		background: linear-gradient(to bottom, transparent 245px, rgb(40,40,40) 0);
	}


	#mac{
		width: 300px;
		bottom: 5%;
	}


	.bigButton h1{
		font-size: 18px;
		padding: 0;
		margin: 0;
	}
	.bigButton em{
		font-size: 16px;		
		padding: 0;
		margin: 0;
	}


	.projWrapper{
		flex-direction: column;
		width: 80%;
	}

	.info{
		margin: 0 auto;
		width: 100%;
	}

	.slideDiv{
		width: 100%;
	}

	#slideLeft{
		left: 10px;
	}

	#slideRight{
		right: 10px;
	}


	#mail{
		font-size: 60px;
	}


}



@media screen and (max-width: 768px){

	p{
		line-height: 25px;
	}

	#startImgHolder{
		left: 20px;
		right: 20px;
	}

	#scrollDown{
		bottom: 30px;
	}

	.navHeader{
		font-size: 14px;
	}

	#aboutText p{
		font-size: 16px;
	}

	.eduSummary{
		font-size: 16px;
	}

	.info p{
		font-size: 16px;
	}

	.workplace p{
		font-size: 16px;
	}


	#navigationButtonWrapper{
		max-width: 90%;
	}


	#mail{
		font-size: 50px;
	}

	.eduPeriscope{
		width: 500px;
		height: 500px;
		border-radius: 2px;
	}

	.eduSummary{
		width: 80%;
	}

	.socMedia{
		width: 60px;
		height: 60px;
	}

	.socMedia i{
		font-size: 34px;
	}

	#startName, #front, #back{
		width: 120px;
		height: 120px;
	}

	#startName p{
		font-size: 30px;
	}

	#back p{
		font-size: 25px;
		line-height: 25px;
	}

}

@media screen and (max-width: 668px){


	#profileImg{
		width: 180px;
		height: 180px;
	}

	.eduPeriscope{
		width: 300px;
		height: 300px;
		border-radius: 2px;
	}

	.startscreen h1{
		font-size: 30px;
	}

	.time{
		max-width: 90%;
	}


	#contactWrap{
		display: block;
		text-align: center;
	}

	.smallButton{
		display: none;
	}

	#workWrapper{
		flex-direction: column;
		justify-content: center;
	}

	.expUpper h1{
		color: rgb(240,240,240);
	}

	.expUpper{
		background-color: rgb(40,40,40);
	}

	.bigButton{
		margin-top: 10px;
		width: 60%;
		height: 90px;
	}

	.bigButton > .workButton, .bigButton > .workButtonBack{
		width: 100%;
		height: 90px;
		border-radius: 2px;
	}

	.bigButton > .workButton{
		transform: perspective(600px) rotateX(0deg);	
	}

	.bigButton > .workButtonBack{
		transform: perspective(600px) rotateX(180deg);
	}

	.bigButton:hover > .workButton{
		transform: perspective(600px) rotateX(-180deg);
	}

	.bigButton:hover > .workButtonBack{
		transform: perspective(600px) rotateX(0deg);
	}

	#contactWrap a{
		display: inline-block;
	}
	#infoWrap{
		margin: 10px 0px 30px 0px;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}

	#basketball{
		display: none;
	}

	.workplace{
		width: 80%;
	}

	#mail{
		font-size: 40px;
	}

	.scrollToTop{
		display: none;
	}

	.scrollToNext{
		display: none;
	}

	#projImages{
		display: none;
	}

	.slideDiv{
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}


	#contact{                
		display: block;
		z-index: 3;
		position: relative;
		bottom: 0;
	}

	.socMedia{
		width: 40px;
		height: 40px;
		border-radius: 2px;
		margin: 0 3px 0 3px;
	}

	.socMedia i{
		font-size: 24px;
	}

	#contactSeparator{
		margin: 40px auto 40px auto;
	}

	#contact h2{
		padding-top: 30px;
	}

}


@media screen and (max-width: 568px){

	.navHeader{
		font-size: 10px;
	}

	.startscreen h1{
		font-size: 24px;
	}

	#profileImg{
		width: 130px;
		height: 130px;
	}

	.time{
		flex-direction: column;
	}

	.timeContent{
		order: 2;
	}

	.period{
		flex-order: 1;
		text-align: center;
		margin-bottom: 20px;
	}

	.eduPeriscope{
		width: 200px;
		height: 200px;
		border-radius: 2px;
	}

	.experience{
		padding-top: 30px;
	}


	#headerName{
		font-size: 25px;
	}

	#mail{
		font-size: 26px;
		font-weight: 300;
	}


	#scrollDown{
		height: 40px;
		width: 40px;
	}

}











