
body,html{
	font-family: 'Raleway';
	font-weight: 300;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

body{
	overflow: hidden;
}

section{
	z-index: 2;
	backface-visibility: hidden;
}

h1{
	font-style: normal;
}

*{
	margin: 0 auto;
	padding: 0;
}

p{
	line-height: 32px;
}

div{
	backface-visibility: hidden;
}



::selection {
	background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #ffb7b7;/* Gecko Browsers */
} 

.container{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 1700px;
	z-index: 1;
}




/*---------------------------------------*/
/*	---------- CSS ANIMATIONS -----------*/
/*---------------------------------------*/

.spinAppearance{
	animation-name: spin;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes spin{
	0%   	{opacity: 0;transform: rotateY(-90deg) translateY(100px);}
	100%   	{opacity: 1; transform: rotateY(0deg) translateY(0);}
}

.appearFromBottom{
	animation-name: appearFromBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromBottom{
	0%   	{opacity: 0; transform: translateY(100px);}
	100%   	{opacity: 1; transform: translateY(0px);}
}


.appearFromTop{
	animation-name: appearFromTop;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromTop{
	0%   	{opacity: 0; transform: translateY(-100px);}
	100%   	{opacity: 1; transform: translateY(0px);}
}

.appearFromTopCentered{
	animation-name: appearFromTopCentered;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromTopCentered{
	0%   	{opacity: 0; transform: translateY(-100px) translateX(-50%);}
	100%   	{opacity: 1; transform: translateY(-50%) translateX(-50%);}
}

.expandFromBottom30{
	animation-name: expandFromBottom30;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes expandFromBottom30{
	0%   	{opacity: 0; width: 0; transform: translateY(100px);}
	100%   	{opacity: 1; width: 30%; transform: translateY(0px);}
}

.expandFromBottom20{
	animation-name: expandFromBottom20;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes expandFromBottom20{
	0%   	{opacity: 0; width: 0; transform: translateY(100px);}
	100%   	{opacity: 1; width: 20%; transform: translateY(0px);}
}


.slideDown{
	animation-name: popdown;
	animation-duration: 1s;
}

@keyframes popdown{
	0%   {display: none;opacity: 0;transform: translateY(-800px);}
	100%   {transform: translateY(-50%); opacity: 1;}
}

.slideUp{
	animation-name: popup;
	animation-duration: 1s;
}

@keyframes popup{
	0%   {opacity: 1;}
	100%   {transform: translateY(-800px); opacity: 1;}
}


.slideInFromLeft{
	animation-name: popInLeft;
	animation-duration: 1s;
}

@keyframes popInLeft{
	0%   {opacity: 0;transform: translateX(-800px) translateY(-50%);}
	80%  {opacity: 1;}
	100%   {transform: translateX(0) translateY(-50%); opacity: 1;}
}


.slideInFromBottom{
	animation-name: popInBottom;
	animation-duration: 1s;
}

@keyframes popInBottom{
	0%   {opacity: 0;transform: translateY(800px); z-index: -1;}
	10%  {opacity: 1;}
	100%   {transform: translateY(-50%); opacity: 1;z-index: 3;}
}


.slideOutRight{
	animation-name: popOutRight;
	animation-duration: 0.5s;
}


@keyframes popOutRight{
	0%   {opacity: 1; transform: translateY(-50%);}
	100%   {transform: translateX(800px) translateY(-50%); opacity: 0;}
}

.slideOutBottom{
	animation-name: popOutBottom;
	animation-duration: 0.5s;
}


@keyframes popOutBottom{
	0%   {opacity: 1;}
	50%		{opacity: 0.7;}
	100%   {transform: translateY(800px); opacity: 0;}
}

.slideOutLeft{
	animation-name: popOutLeft;
	animation-duration: 0.5s;
}


@keyframes popOutLeft{
	0%   {opacity: 1;}
	100%   {transform: translateX(-800px) translateY(-50%); opacity: 0;}
}

.slideDownBig0{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes popdownBig{
	0%   {opacity: 1;transform: translateY(-400px);}
	100%   {transform: translateY(0px); opacity: 1;}
}

.slideDownBig1{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
.slideDownBig2{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}
.slideDownBig3{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}


.expand20{
	animation-name: expand20;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand20{
	0%   {width: 0;}
	100%   {width: 18%;}
}

.expand30{
	animation-name: expand30;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand30{
	0%   {width: 0;}
	100%   {width: 30%;}
}

.growToFull{
	animation-name: growToFull;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes growToFull{
	0%   {transform: scale(0);}
	100%   {transform: scale(1);}
}


.expand70{
	animation-name: expand70;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand70{
	0%   {width: 0;}
	100%   {width: 70%;}
}

.appearFromLeft{
	animation-name: appearFromLeft;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromLeft{
	0%   {opacity: 0.8; transform: translateX(-100px);}
	100%   {opacity: 1; transform: translateX(0);}
}

.appearFromRight{
	animation-name: appearFromRight;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromRight{
	0%   {opacity: 0.8; transform: translateX(100px);}
	100%   {opacity: 1; transform: translateX(0);}
}

.appearFromLeft1{
	animation-name: appearFromLeft;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

.appearFromRight1{
	animation-name: appearFromRight;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

.appearFromLeftInBackground{
	animation-name: appearFromLeftInBackground;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromLeftInBackground{
	0%   {opacity: 0; transform: translateX(-200px);}
	100%   {opacity: 0.4; transform: translateX(0);}
}

.appearFromRightInBackground{
	animation-name: appearFromRightInBackground;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromRightInBackground{
	0%   {opacity: 0; transform: translateX(200px);}
	100%   {opacity: 0.3; transform: translateX(0);}
}

.fadeInFromLeft{
	animation-name: fadeInFromLeft;
	animation-duration: 1.4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft{
	0%   {opacity: 0; transform: translateX(-20px);}
	100%   {opacity: 1; transform: translateX(0);}
}



.rotate360{
	animation-name: rotate360;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes rotate360{
	0%   {opacity: 0; transform: translateY(-120px) translateX(-50%) rotateZ(45deg);}
	10%   {opacity: 1;}
	100%   {opacity: 1; transform: translateY(-50%) translateX(-50%) rotateZ(405deg);}
}

.growAndShrink1{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}
.growAndShrink2{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
.growAndShrink3{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}
.growAndShrink4{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}
.growAndShrink5{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.8s;
	animation-fill-mode: forwards;
}
.growAndShrink6{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 1.0s;
	animation-fill-mode: forwards;
}

@keyframes growAndShrink{
	0%   {opacity: 0; transform: scale(0) translateY(-50%) translateX(40%);}
	50% 	{transform: scale(1.4) translateY(-50%) translateX(40%);}
	100%   {opacity: 1; transform: scale(1) translateY(-50%) translateX(50%);}
}

.shine{
	animation-name: shine;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes shine{
	0%   {box-shadow: 0px 0px 0px 0px transparent;}
	50%   {box-shadow: 0px 0px 10px 3px white;}
	100%   {box-shadow: 0px 0px 0px 0px transparent;}
}




/*---------------------------------------*/
/*	---------- NON SELECTABLE -----------*/
/*---------------------------------------*/

#profileImg, #interests, .workButtons, .socMedia, #resume, h1, #startName, #mobileNav, a, #startImg, #schoolImg, #name{
	user-select: none;
}

/*---------------------------------------*/
/*	------- SCROLL TO TOP POP-UP --------*/
/*---------------------------------------*/

.scroll{
	position: fixed;
	bottom: -60px;
	cursor: pointer;
	z-index: 6;
	text-decoration: none;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid rgb(20,20,20);
	border: 2px solid #34495E;
	color: rgb(20,20,20);
	color: #34495E;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.2s linear, transform 0.4s linear, width 0.4s linear, border-radius 0.1s linear, width 0.3s linear;
	clear: both;
}

.scrollToTop{
	right: 40px;
}



.contentHolder{
	width: 115px;
	height: 100%;
	clear:both;
	float: right;
}

.scrollIcon{
	width: 45px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
}

.scrollIcon i{
	padding: 0;
	align-self: center;
	font-size: 28px;
	margin: 0 auto;
	transform: translateY(-3px);
	color: rgb(20,20,20);
	color: #34495E;
}

.scrollText{
	height: 100%;
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
}


.scrollText h1{
	margin-right: 0px;
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 22px;
	text-decoration: none;
	padding: 0;
	color: rgb(20,20,20);
	color: #34495E;
}

.scrollToTop:hover{
	width: 100px;
	border-radius: 3px;
}





/*---------------------------------------*/
/*	---------- MOBILE --------------  */
/*---------------------------------------*/


@media screen and (min-width: 1600px){
	#slideLeft{
		left: 60px;
	}


	#slideRight{
		right: 60px;
	}

	#navigationButtonWrapper{
		height: 100px;
	}

	#startImgHolder{
		top: 100px;
	}

	.navHeader{
		font-size: 18px;
	}

}


@media screen and (min-width: 1900px){
	#forestHolder{
		max-height: 500px;
		height: auto;
		bottom: 50px;
	}

	#mountainHolder, #mountainHolder2{
		max-height: auto;
		height: auto;
		bottom: 140px;
	}

}


@media screen and (min-width: 2400px){
	#scrollDown{
		bottom: 20px;
	}

	#mountainHolder, #mountainHolder2{
		bottom: 0px;
	}
}


@media screen and (max-width: 1200px){
	#slideLeft{
		left: 40px;
	}

	#slideRight{
		right: 40px;
	}

	#projImages{
		width: 80%;
	}
}



@media screen and (max-width: 925px){



	#workWrapper{
		width: 100%;
	}

	.bigButton, .bigButton > .workButton, .bigButton > .workButtonBack{
		width: 150px;
		height: 150px;
	}

	.bigButton p{
		font-size: 18px;
	}

	.bigButton em{
		font-size: 14px;
	}

	.expUpper{
		background: linear-gradient(to bottom, transparent 245px, rgb(40,40,40) 0);
	}


	#mac{
		width: 300px;
		bottom: 5%;
	}


	.bigButton h1{
		font-size: 18px;
		padding: 0;
		margin: 0;
	}
	.bigButton em{
		font-size: 16px;		
		padding: 0;
		margin: 0;
	}


	.projWrapper{
		flex-direction: column;
		width: 80%;
	}

	.info{
		margin: 0 auto;
		width: 100%;
	}

	.slideDiv{
		width: 100%;
	}

	#slideLeft{
		left: 10px;
	}

	#slideRight{
		right: 10px;
	}


	#mail{
		font-size: 60px;
	}


}



@media screen and (max-width: 768px){

	#mountainHolder{
		left: -50%;
		width: 180%;
		bottom: 80px;
	}

	#mountainHolder2{
		right: -50%;
		bottom: 90px;
		width: 130%;
	}


	p{
		line-height: 25px;
	}

	#message p{
		width: 400px;
		font-size: 18px;
	}

	#scrollDown{
		bottom: 30px;
	}

	#eHolder{
		display: none;
	}

	#startImgHolder{
		left: 20px;
		right: 20px;
	}

	.navHeader{
		font-size: 14px;
	}

	#aboutText p{
		font-size: 16px;
	}

	.eduSummary{
		font-size: 16px;
	}

	.info p{
		font-size: 16px;
	}

	.workplace p{
		font-size: 16px;
	}


	#navigationButtonWrapper{
		max-width: 90%;
	}


	#mail{
		font-size: 45px;
	}

	#eduTimelineWrapper{
		padding-top: 100px;
	}

	.eduPeriscope{
		width: 500px;
		height: 500px;
		border-radius: 2px;
		border-width: 7px;
	}

	#startName, #front, #back{
		width: 120px;
		height: 120px;
	}

	#startName p{
		font-size: 30px;
	}

	#back p{
		font-size: 25px;
		line-height: 25px;
	}

}

@media screen and (max-width: 668px){

	.eduPeriscope{
		display: none;
	}

	.startscreen h1{
		font-size: 30px;
	}

	.time{
		max-width: 90%;
	}

	.eduSummary{
		width: 80%;
		transform: translateX(0);
		background-color: #2C3E50;
	}

	.timelineStopLine{
		display: block;
	}


	#contactWrap{
		display: block;
		text-align: center;
	}

	.smallButton{
		display: none;
	}

	#s3,#s13,#s8,#s6, #s4, #s9{
		display: none;
	}


	.expUpper h1{
		color: rgb(80,80,80);
		padding: 0px 0 60px 0;
	}

	.expUpper{
		background-color: rgb(245,245,245);
	}


	#workWrapper{
		transform: translateY(0);
		flex-direction: column;
		justify-content: center;
		background-color: rgb(245,245,245);
		padding-bottom: 60px;
	}

	.bigButton{
		margin-top: 10px;
		width: 60%;
		height: 90px;
	}

	.bigButton > .workButton, .bigButton > .workButtonBack{
		width: 100%;
		height: 90px;
		border-radius: 2px;
	}

	.bigButton > .workButton{
		transform: perspective(600px) rotateX(0deg);	
	}

	.bigButton > .workButtonBack{
		transform: perspective(600px) rotateX(180deg);
	}

	.bigButton:hover > .workButton{
		transform: perspective(600px) rotateX(-180deg);
	}

	.bigButton:hover > .workButtonBack{
		transform: perspective(600px) rotateX(0deg);
	}

	#contactWrap a{
		display: inline-block;
	}
	#infoWrap{
		margin: 10px 0px 30px 0px;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}

	#basketball{
		display: none;
	}

	.workplace{
		width: 90%;
	}

	#mail{
		font-size: 40px;
	}

	.scrollToTop{
		display: none;
	}

	.scrollToNext{
		display: none;
	}

	#projImages{
		display: none;
	}

	.slideDiv{
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}


	#contact{                
		display: block;
		z-index: 3;
		position: relative;
		bottom: 0;
	}

	#contactSeparator{
		margin: 40px auto 40px auto;
	}

	#contact h2{
		padding-top: 30px;
	}

	#eduSummaryWrapper{
		padding-bottom: 600px;
	}

	#timelineDotHeader{
		display: none;
	}
	#eduSummary{
		width: 95%;
	}

	#progLangs{
		left: 70%;
		top: 75%;
	}

	.progLang h2{
		right: 20px;
		width: 140px;
	}

	#timelineStartLine, #timelineStartDot, #upperTimeline, #timelineStop, .contTimeline, .timeline, .timelineDot, #timelineStopDot{
		left: 70%;
	}

	.rightOfTimeline{
		width: 30%;
	}

	.rightOfTimeline p{
		left: 20px;
	}

	.leftOfTimeline div{
		right: 20px;
	}

	.leftOfTimeline{
		width: 70%;
	}

	#aboutText{
		width: 95%;
	}

	.eduSummary p, .eduSummary h1, .eduBorder{
		margin-left: 0;
	}

	.workplace > p{
		margin: 20px 20px;
	}

}


@media screen and (max-width: 568px){

	.navHeader{
		font-size: 10px;
	}

	.startscreen h1{
		font-size: 24px;
	}

	.time{
		flex-direction: column;
	}

	.timeContent{
		order: 2;
	}

	.period{
		flex-order: 1;
		text-align: center;
		margin-bottom: 20px;
	}

	.eduPeriscope{
		width: 200px;
		height: 200px;
		border-radius: 2px;
	}

	.experience{
		padding-top: 30px;
	}


	#headerName{
		font-size: 25px;
	}

	#scrollDown{
		height: 40px;
		width: 40px;
	}

	#navigationButtonWrapper i{
		display: none;
	}

	#mail{
		font-size: 18px;
		text-shadow: none;
		color: rgb(160,160,160);
		bottom: 80px;
	}

	#lamp{
		left: 10px;
	}

	#overMail{
		right: 40px;
	}


	#copyright{
		font-size: 14px;
		bottom: 1px;
	}


}







