
body,html{
	font-family: 'Roboto';
	font-weight: 300;
	width: 100%;
	overflow-x: hidden;
}

section{
	z-index: 2;
}

*{
	margin: 0 auto;
	padding: 0;
}

p{
	line-height: 25px;
}

::selection {
	background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #ffb7b7;/* Gecko Browsers */
} 
/*---------------------------------------*/
/*	---------- NON SELECTABLE -----------*/
/*---------------------------------------*/

.img-circle, #interests, .workButtons, .imageDiv, .socMedia, #resume, h1, #navbar, #mobileNav, a, #startImg, #schoolImg{
	user-select: none;
}



.scrollToTop{
	position: fixed;
	display: none;
	right: 50px;
	bottom: 50px;
	cursor: pointer;
	z-index: 6;
	text-decoration: none;
	border-radius: 2px;
	color: rgb(240,240,240);
	background-color: rgba(0,0,0,0.5);
	width: 50px;
	height: 50px;
	overflow: hidden;
	transition: width 0.2s linear;
}

.contentHolder{
	position: absolute;
	right: 0;
	left: auto;
	top: 30%;
	width: 110px;
	height: 50px;
	display: flex;
	align-items: center;
	transform: translateY(-1px);
}
.scrollToTop i{
	padding: 0;
	margin: 0;
	width: 50px;
	height: 50px;
	font-size: 50px;
	transform: translateY(-17px) translateX(8px);
}

.scrollToTop h1{
	height: 50px;
	margin-right: 2px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;
	padding: 0;
	color: rgb(240,240,240);
}

.scrollToTop:hover{
	width: 100px;	
}







/*---------------------------------------*/
/*	---------- NAVIGATION BAR -----------*/
/*---------------------------------------*/


/*DESKTOP NAVIGATION*/


#navbar{
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 50;
	background-color: rgba(0,0,0,0.5);

}

#navWrapper{
	width: 90%;
	max-width: 900px;
	height: 75px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
}



#navWrapper a{
	font-family: 'Roboto';
	font-weight: 300;
	
	text-transform: uppercase;
	color: rgb(240,240,240);
	font-size: 18px;
	text-decoration: none;
	display: inline-block;

}

#navWrapper a:hover > .expandingUnderline{
	width: 100%;
	opacity: 1;
	transform: translateY(2px);
}

.expandingUnderline{
	transform: translateY(12px);
	border-bottom: 3px solid rgb(240,240,240);
	width: 0px;
	opacity: 0.1;
	transition: 250ms ease;
}

/*MOBILE NAVIGATION*/

#mobileNav{
	position: fixed;
	top: 0%;
	width: 100%;
	background-color: rgba(40,40,40,0.4);
	display: none;
	z-index: 100;
	margin: 0 auto;

}

.upperMNavList{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0.2);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#headerName, .showNav{
	padding: 0;
	margin: 0;
	display: block;
	color: rgb(240,240,240);
	text-decoration: none;
}

#headerName{
	padding-left: 15px;
	font-family: "Abril Fatface";
}
#headerName i{
	font-size: 35px;
}

.showNav{
	padding-right: 15px;
	cursor: pointer;
}
.showNav i{
	font-size: 35px;
	color: rgb(240,240,240);
}


.lowerMNavList{
	padding: 0;
	margin: 0 auto;
	display: none;
	width: 100%;
	z-index: 45;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding-bottom: 20px;

	display: none;
	flex-direction: column;
}

.mobilenavbuttons{
	font-family: 'Roboto';
	font-weight: 300;
	display: block;
	margin: 0 auto;
	color: rgb(240,240,240);
	text-decoration: none;
	font-size: 18px;
	padding: 20px 0 0 0;
}





/*---------------------------------------*/
/*	---------- START SCREEN --------------  */
/*---------------------------------------*/

.startscreen{
	display: block;
	width: 100%;
	height: 100vh;
	text-align: center;
	overflow: hidden;
	position: relative;
}


#startImg{
	position: fixed;
	top: 0%;
	width: 100%;
	height: 110vh;
	z-index: 1;
}



.startscreen .img-circle{
	position: absolute;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	z-index: 5;
}




.startscreen h1{
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	font-family: 'abril Fatface';
	font-size: 40px;
	color: rgb(240,240,240);
	z-index: 5;
}



/*---------------------------------------*/
/*	---------- ABOUT --------------  */
/*---------------------------------------*/

.about{
	background-color: #ffdbaa;
	width: 100%;
	text-align: center;
	display: block;
	position: relative;
	min-height: 50vh;

	transform: translate3d(0,0,0);

	display: flex;

	align-items: center;
	flex-direction: column;
	justify-content: center;

	padding: 0;
	margin: 0 auto;

}

.about .aboutWrapper{
	max-width: 1000px;
	width: 80%;
}

#aboutHeader{
	padding: 0px 0 60px 0;
}

#hello{
	font-family: 'Abril Fatface';
	font-size: 40px;
	color: #5A352D;
	padding-bottom: 10px;
}

#aboutText{
	padding: 80px 0 50px 0;
	max-width: 1000px;
	margin: 0 auto;
	width: 80%;
	display: block;
}


#aboutText p{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	opacity: 0.7;
	color: #552000;
}

#resume{
	font-family: "Roboto";
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	padding: 80px 0 80px 0;
	display: inline-block;
	text-transform: uppercase;
	
}

#resume a{
	color: #5A352D;
	text-decoration: none;
}


#resume a > .expandingUnderline{
	border-color: #5A352D;
}

#resume a:hover > .expandingUnderline{
	width: 100%;
	transform: translateY(2px);
	opacity: 0.8;
}


#interests{
	position: relative;
	bottom: 80px;
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.interestHolder{
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: rgb(245,219,170);
	box-shadow: 0px 4px 10px 2px rgb(225,189,140);
}


#interests i{
	padding-top: 20px;
	color: #5A352D;
}

.fa-stack .inner{
	color: #ffdbaa;
}


/*---------------------------------------*/
/*	---------- EDUCATION --------------  */
/*---------------------------------------*/


.education{
	display: block;
	text-align: center;
	padding: 100px 0 100px 0;
	overflow: hidden;
	backface-visibility: hidden;
}

#schoolImg{
	position: fixed;
	top: 0%;
	width: 100%;
	height: 110vh;
	z-index: 1;
	display: none;
}




.educationContainer{
	padding: 0px 0 0px 0;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	text-align: center;
	display: flex;

	align-items: center;
	justify-content: space-around;
}


.education .eduSummary{
	padding: 20px 0px 20px 0px;
	display: block;
	margin: 0 auto;
	width: 45%;
	max-width: 500px;
	font-size: 18px;
	background-color: rgba(163,73,73,0.9);
	border-radius: 2px;
	text-align: center;
	order: 1;
	z-index: 2;
	transition: linear;
	transform: translate3D(0,0,0);


}

#textContainer{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;

}

.education .eduSummary h1{
	font-family: 'abril Fatface';
	color: #F38630;
	font-size: 40px;
}

.education .eduSummary p{
	font-family: 'Roboto';
	font-weight: 300;
	padding-top: 10px;
	color: rgb(220,220,220);
}

.education .eduTimeline{
	display: block;
	width: 45%;
	padding: 30px 0px 50px 0px;
	max-width: 600px;
	background-color: rgba(243,134,48,0.8);
	border-radius: 2px;
	transition: linear;
	transform: translate3D(0,0,0);
	z-index: 2;
	order: 2;
}

.eduTimeline ol { 
	text-align: left;
	list-style: none;
	padding: 0 0 0px 20px;
}

.eduTimeline ol li { 
	padding: 0;
	width: 85%;
	display: block;
}

.education .eduTimeline h1{
	font-family: 'abril Fatface';
	color: #a34949;
	font-size: 40px;
	margin-bottom: 10px;
}


.eduTimeline .school{ 
	font-size: 25px;
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	color: #a34949;
}

.eduTimeline .period { 
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	padding-left: 5px;
	font-size: 20px;
	color: #cacdc4;
}

.eduTimeline .programDesc { 
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	font-size:18px; 
	padding-top: 10px;
	color: rgb(220,220,220);
}

.eduTimeline .eduSeparator{
	text-align: left;
	padding: 10px 0 10px 0;
	border-top: 2px solid #F49741;
	opacity: 0.5;
	margin-top: 20px;
	width: 90%;
}








/*---------------------------------------*/
/*	---------- EXPERIENCE --------------  */
/*---------------------------------------*/

.experience{
	display: block;
	width: 100%;
	padding: 0;
	background-color: rgb(210,210,210);
	margin: 0 auto;
	position: relative;
	text-align: center;

	transform: translate3d(0,0,0);

}

.experience > h1{
	padding: 50px 0 20px 0;
	font-family: 'Abril Fatface';
	font-weight: 700;
	font-size: 40px; 
	color: rgb(170,170,170);
}

#workWrapper{
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.flip3d{
	position: relative;
	width: 200px;
	height: 200px;
	transform: translate3D(0,0,0);
}



.flip3d > div{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	cursor: pointer;
	backface-visibility: hidden;
	transition: 0.4s linear 0s;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 5px 10px 1px rgb(150,150,150);	
}



.flip3d > .workButton{
	transform: perspective(600px) rotateY(0deg);
	background-color: rgb(240,240,240);
}

.flip3d > .workButtonBack{
	background-color: rgb(140,140,140);
	transform: perspective(600px) rotateY(180deg);
}


.flip3d:hover > .workButton{
	transform: perspective(600px) rotateY(-180deg);
}

.flip3d:hover > .workButtonBack{
	transform: perspective(600px) rotateY(0deg);
}





/*mm-color: rgba(198,8,20,0.6)*/
/*onoff-color: rgba(26,168,46,0.6)*/
/*siba-color: rgba(189,0,4,0.6)*/
/*ericsson-color: rgba(26,33,79,0.6)*/



.flip3d h1{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 150ms ease;
}

.flip3d em{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	text-decoration: none;
	color: rgb(200,200,200);
}

.workButton h1{
	color: rgba(0,0,0,0.2);
}

.workButtonBack h1{
	color: rgb(240,240,240);
}


.workplace { 
	display: none;
	margin: 0 auto;
	width: 40%;
	height: auto;
	font-family: "Roboto";
	padding: 20px;
	font-weight: 300;
	
}

.workplace p{
	font-size: 20px;
	color: rgb(150,150,150);
}

.workplace h4{
	color: #a34949;
	color: rgb(120,120,120);
	padding-top: 10px;
	padding-bottom: 10px;
}

#popDownWrapper{
	width: 100%;
	background-color: rgb(240,240, 240);
	padding: 50px 0 50px 0;
	margin: 0 auto;
	display: none;
	text-align: center;
}


.workplace img{
	max-width: 300px;
	max-height: auto;
	width: 80%;
}




/*---------------------------------------*/
/*	---------- Personal Projects -------  */
/*---------------------------------------*/


.projects{
	background-color: #a34949;
	width: 100%;
	padding: 0;
	display: block;
	position: relative;
	margin: 0 auto;
	text-align: center;

	transform: translate3d(0,0,0);


}

.slideWrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	position: relative;
	padding: 60px 0px 80px 0px;
}

#projectHeader{
	position: relative;
	top: 50px;
	display: inline-block;
	color: rgb(240,240,240);
	font-family: 'Abril Fatface';
	font-size: 40px;
}



.slideDiv{
	padding: 60px 0px 40px 0px;
	border-radius: 2px;
	width: 100%;
	display: none;
	z-index: 3;
	overflow: hidden;
}

.projWrapper{
	display: flex;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
	align-items: center;
	justify-content: space-around;
}

.slideDir{
	cursor: pointer;
	position: absolute;
	top: 45%;
	z-index: 5;
}

#slideLeft{
	left: 5%;
}

#slideRight{
	right: 5%;
}

.slideDir i{
	color: rgb(240,240,240);
	font-size: 70px;
}

#slideLeft i:hover{
	transform: translateX(-5px) scale(1.2);
}

#slideRight i:hover{
	transform: translateX(5px) scale(1.2);
}

.slideDiv .container{
	width: 80%;
}

.slideDiv .row{
	text-align: center;
}

.info{
	text-align: left;
	color: rgb(240,240,240);
	width: 45%;
}

.info a{
	font-family: 'Roboto';
	font-weight: 700;
	display: block;
	font-size: 24px;
	color: rgb(240,240,240);
	text-decoration: none;
}

.info a:hover{
	color: rgb(210,210,210);
}

.info em{
	font-style: bold;
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	padding-bottom: 5px;
}

.info p{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
}

.info ul{
	padding-left: 20px;
}

.toolList{
	padding-top: 30px;
}

#div4{
	display: block
}

.imageDiv{
	position: relative;
	text-align: center;
	width: 50%;
	overflow: hidden;
	box-shadow: 0px 4px 10px 2px rgb(133,43,43);
	text-align: center;
	transition: 0.3s linear;
	border-radius: 2px;
	margin: 0;
	padding: 0;
}

.imageDiv:hover{
	box-shadow: 0px 4px 12px 3px rgb(123,33,33);
}


.imageDiv img{
	display: block;
	width: 100%;
	height: auto;
}

.imgText{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
	background-color: rgba(240,240,240,0.9);
	cursor: pointer;
	text-decoration: none;

}

.imageDiv p{
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	color: rgb(170,170,170);
	opacity: 0;
	transition: 0.2s linear;

}

.imageDiv .imgText:hover > p{
	color: rgb(173,63,63);
}

/*---------------------------------------*/
/*	---------- FOOTER --------------  */
/*---------------------------------------*/

#contact{
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	text-align: center;
	background-color: rgb(240,240,240);
	display: none;
	z-index: 0;
}

#contact h1{
	width: 80%;
	display: block;
	padding-top: 50px;
	font-family: "Abril Fatface";
	font-size: 40px;
	color: #a34949;
}

#mail{
	font-family: "Roboto";
	font-weight: 100;
	font-size: 70px;
	color: rgba(170,170,170,0.8);
	text-decoration: none;
	transition: 150ms linear;
}

#mail:hover{
	color: #a34949;
}

#contactSeparator{
	display: block;
	width: 20%;
	border-bottom: 3px solid #a34949;
	border-radius: 2px;
	margin: 60px auto 60px auto;
}



#contactWrap{
	width: 80%;
	max-width: 800px;
	padding: 60px 0px 0px 0px;
	display: flex;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

#infoWrap{
	margin: 0 auto;
	padding: 0 20px 0 20px;
	position: relative;
	text-align: center;
	order: 3;
	-webkit-order:3;
}



#contactText{
	display: inline-block;
	font-family: 'Roboto';
	font-size: 18px;
	/*color: #a34949;*/
	color: rgba(170,170,170,0.8);
	text-align: center;
	background: rgb(240,240,240);
	padding: 10px 20px 18px 20px;
	border-radius: 2px;
	box-shadow: 0px 4px 10px 1px rgb(200,200,200);
	transition: 80ms linear;
}

#contactText p{
	margin-top: 10px;
}

#contactText:hover{
	transform: scale(1.1);
	box-shadow: 0px 4px 10px 1px rgb(180,180,180);
	color: rgb(170,170,170);
}



.socMedia{
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: rgb(240,240,240);
	box-shadow: 0px 4px 10px 1px rgb(200,200,200);
	transition: 80ms linear;
	overflow: hidden;
	text-decoration: none;
}



.socMedia i{
	position: relative;
	display: block;
	padding-top: 17px;
	text-decoration: none;
	color: rgba(170,170,170,0.8);
	transition: color 80ms linear;
	width: 100%;
	height: 80px;
	font-size: 45px;
}




#github{
	order: 1;
}
#linked{
	order: 2;
}
#twitter{
	order: 4;
}
#facebook{
	order: 5;
}

.socMedia:hover{
	transform: scale(1.2);
	box-shadow: 0px 4px 10px 1px rgb(180,180,180);
}



#github:hover > i{
	color: rgb(60, 60, 60);
}

#linkedin:hover > i{
	color:#007bb6;
}

#twitter:hover > i{
	color: #00aced;
}

#facebook:hover > i{
	color: #3b5998;
}


#copyright{
	padding: 60px 0 20px 0;
	color: rgb(220,220,220);
	font-size: 18px;
}




/*---------------------------------------*/
/*	---------- MOBILE --------------  */
/*---------------------------------------*/





@media screen and (max-width: 925px){
	#mobileNav{
		display: block;
	}

	#navbar{
		display: none;
	}

	#workWrapper{
		width: 100%;
	}

	.flip3d, .flip3d > .workButton, .flip3d > .workButtonBack{
		width: 150px;
		height: 150px;
		font-size: 30px;
	}

	.flip3d h1{
		font-size: 18px;
		padding: 0;
		margin: 0;
	}
	.flip3d em{
		font-size: 16px;		
		padding: 0;
		margin: 0;
	}


	.info{
		width: 100%;
	}

	.imageDiv{
		margin-top: 40px;
		width: 100%;
	}

	.educationContainer, .projWrapper{
		flex-direction: column;
	}

	.educationContainer{
		width: 90%;
	}
	.projWrapper{
		width: 80%;
	}

	.educationContainer .eduSummary, .info{
		margin: 0 auto;
		width: 100%
	}
	.educationContainer .eduTimeline, .imageDiv{
		margin: 0 auto;
		margin-top: 20px;
		width: 100%
	}



	#mail{
		font-size: 60px;
	}


}



@media screen and (max-width: 768px){

	.educationContainer .eduSummary, .educationContainer .eduTimeline{
		transform: none;
	}

	#mail{
		font-size: 50px;
	}

	.socMedia{
		width: 60px;
		height: 60px;
	}

	.socMedia i{
		padding-top: 11px;
		font-size: 40px;
	}


}

@media screen and (max-width: 668px){

	#eduBackgroundDesc{
		display: none;
	}

	.startscreen .img-circle{
		width: 180px;
		height: 180px;
	}

	.startscreen h1{
		font-size: 30px;
	}


	#contactWrap{
		display: block;
		text-align: center;
	}

	#workWrapper{
		flex-direction: column;
		justify-content: center;
	}
	.flip3d{
		margin-top: 10px;
		width: 60%;
		height: 90px;
	}

	.flip3d > .workButton, .flip3d > .workButtonBack{
		width: 100%;
		height: 90px;
		border-radius: 2px;
	}

	.flip3d > .workButton{
		transform: perspective(600px) rotateX(0deg);	
	}

	.flip3d > .workButtonBack{
		transform: perspective(600px) rotateX(180deg);
	}

	.flip3d:hover > .workButton{
		transform: perspective(600px) rotateX(-180deg);
	}

	.flip3d:hover > .workButtonBack{
		transform: perspective(600px) rotateX(0deg);
	}

	#contactWrap a{
		display: inline-block;
	}
	#infoWrap{
		margin: 10px 0px 30px 0px;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	#basketball{
		display: none;
	}

	.workplace{
		width: 80%;
	}


	.education .eduSummary, .education .eduTimeline{
		width: 100%;
	}

	#mail{
		font-size: 40px;
	}

	.scrollToTop{
		display: none;
	}

	#contact{                
		display: block;
		z-index: 3;
		position: relative;
		bottom: 0;
	}

	.socMedia{
		width: 40px;
		height: 40px;
		border-radius: 2px;
		margin: 0 3px 0 3px;
	}

	.socMedia i{
		font-size: 24px;
		padding-top: 8px;
	}

	#contactSeparator{
		margin: 40px auto 40px auto;
	}

	#contact h2{
		padding-top: 30px;
	}

}


@media screen and (max-width: 568px){

	.startscreen h1{
		font-size: 24px;
	}

	.startscreen .img-circle{
		width: 130px;
		height: 130px;
	}



	.experience{
		padding-top: 30px;
	}

	.mobileNavListWrapper{
		top: 70px;
	}

	#headerName{
		font-size: 25px;
	}

	#mail{
		font-size: 26px;
		font-weight: 300;
	}

}








